<h1>Ladder Page</h1>
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Team</th>
    </tr>
  </thead>
  <thead>
    <tbody>
      <% @teams.each_with_index do |team, index| %>
        <tr>
          <td> <%= index + 1 %> </td>
          <td> <%= team.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>
